.title {
    font-family: 'Merriweather';
    font-size: 3.5rem;
    font-weight: 700;
    color: var(--black);
    margin-bottom: 4rem;
}
@media (max-width: 640px) {
    .title {
        font-size: 2rem;
        margin-bottom: 2rem;
    }
}