.header {
    position: fixed;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--iceblue);
    padding: 4.2rem 3.2rem 3rem 3.2rem;
    z-index: 999;
    width: 20rem;
}

.header__icon {
    border-radius: 50%;
    border: 3px solid var(--red);
    width: 8rem;
    height: 8rem;
    overflow: hidden;
}

.header__icon img {
    object-fit: cover;
}

.header__nav {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3.5rem;
}

.action__btn {
    display: flex;
    align-items: center;
    gap: 1rem;
    font-size: 2rem;
    font-weight: 400;
    line-height: 1.2;
    margin-top: auto;

}

.action__btn i {
    font-size: 2.5rem;
}

.header__profile {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.5rem;
    font-size: 2rem;
    font-weight: 400;
    line-height: 1.2;
    margin-bottom: 5rem;

}

.close__btn {
    display: none;
}

.menu__btn {
    display: none;
}

@media (max-width: 640px) {
    .header {
        position: fixed;
        padding: 4.2rem 3.2rem 3rem 3.2rem;
        opacity: 0;
        visibility: hidden;
        width: 100%;
        z-index: -1;
        inset: 0;
    }

    .header__icon {
        border-radius: 50%;
        border: 3px solid var(--red);
        width: 5rem;
        height: 5rem;
        overflow: hidden;
    }

    .header__icon img {
        object-fit: cover;
    }

    .header__nav {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 3.5rem;
    }

    .action__btn {
        display: flex;
        align-items: center;
        gap: 1rem;
        font-size: 1.4rem;
        font-weight: 400;
        line-height: 1.2;
        margin-top: auto;

    }

    .action__btn i {
        font-size: 1.4rem;
    }

    .header__profile {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 1.5rem;
        font-size: 1.4rem;
        font-weight: 400;
        line-height: 1.2;
        margin-bottom: 2rem;

    }

    .header__wrapper {
        background-color: var(--iceblue);
        padding: 2rem 1rem;
        display: flex;
        justify-content: end;
    }

    .header__active {
        opacity: 1;
        visibility: visible;
        z-index: 999;
    }

    .close__btn {
        display: block;
        margin-top: 0;
        margin-bottom: 4rem;
        margin-left: auto;
    }

    .menu__btn {
        display: flex;
    }

}