.main {
    padding-left: 195px;
    padding-right: 65px;
    padding-top: 80px;
    padding-bottom: 80px;
    background-color: var(--white);
    width: 100%;
    height: 100%;
}

.main__clear {
    padding-right: 65px;
    padding-left: 65px;
    padding-top: 80px;
    padding-bottom: 80px;
    background-color: var(--white);
    width: 100%;
    height: 100%;
}