.table__header {
    display: flex;
    align-items: center;
    gap: 2rem;
    background-color: var(--iceblue);
    border: 1px solid var(--black);
    border-radius: 10px 10px 0 0;
    padding: 2rem;
    font-size: 2rem;
    font-weight: 400;
    color: var(--black);
}

.table__email {
    width: 20rem;
}

.table__name {
    width: 15rem;
}

.table__role {
    width: 15rem;
}

.table__date {
    width: 20rem;
}

.user__row {
    display: flex;
    align-items: center;
    gap: 2rem;
    padding: 1.5rem 5rem 1.5rem 2rem;
    border-left: 1px solid var(--blue);
    border-right: 1px solid var(--blue);
    border-bottom: 1px solid var(--blue);
}

.user__row a {
    margin-left: auto;
}

@media (max-width: 640px) {
    .table__header {
        flex-wrap: wrap;
        font-size: 1.4rem;
    }

    .table__email {
        width: 20rem;
        flex-shrink: 0;
    }

    .table__name {
        width: 100%;
        display: none;
    }

    .table__role {
        width: 100%;
        flex-shrink: 0;
    }

    .table__date {
        width: 100%;
        display: none;
    }

    .user__row {
        flex-wrap: wrap;
        gap: 1rem;
        padding: 3rem 1.5rem;
    }

    .user__row a {
        margin-left: auto;
    }
}